<div id="header">
    <h1>plugged in</h1>
    <nav>
      <a class="btn" routerLink="login" routerLinkActive="active" action="/login" method="GET">login</a>
      <a class="btn" routerLink="create-account" routerLinkActive="active" action="/create-account">createAccount</a>
      <a class="btn" routerLink="musician-roster" routerLinkActive="active" action="/musician-roster">musician roster</a>
      <a class="btn" routerLink="create-band" routerLinkActive="active" action="/create-band">create band/project</a>
    </nav>
  </div>
  <router-outlet></router-outlet>