<div id="header">
    <h1>plugged in</h1>
    <nav>
      <a class="btn" routerLink="login" routerLinkActive="active" action="/login" method="GET">login</a><br>
      <a class="btn" routerLink="create-account" routerLinkActive="active">createAccount</a><br>
      <a class="btn" routerLink="musician-roster" routerLinkActive="active">musician roster</a><br>
      <a class="btn" routerLink="create-band" routerLinkActive="active">create band/project</a><br>
      <a class="btn" routerLink="band-profile" routerLinkActive="active">band-profile</a><br>

    </nav>
  </div>
  <router-outlet></router-outlet>