<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Create a Band</title>
    <link rel="stylesheet" href="create-band.component.css" />
  </head>
  <body>
    <!-- Navbar -->
    <body>
      <nav>
        <div class="logo">
          <h4>Plugged In</h4>
        </div>
        <ul class="nav-links">
          <li><a href="home">Home</a></li>
          <li><a href="createdband">Created Band</a></li>
        </ul>
      </nav>
      <br />
      <br />
      <br />
      <!-- Band Name Input -->
      <div class="welcome">
        <h4>
          Hi! Welcome to Plugged In. Here you will create your band.
          <br />
          Please enter the name of your band, pick a genre, and at least five
          band members.
          <br />
          Once you click submit, you will be taken to your band’s page.
        </h4>
      </div>
      <br />
      <br />
      <div class="bandname">
        <form>
          <label>
            Band Name: <input type="text" id="bandName" name="bandName"
          /></label>
          <br />
          <!-- Genre -->
          <br />
          <div class="genre1">
            <input type="radio" class="radio" id="pop" name="category" />
            <label for="genres">Pop</label>

            <input type="radio" class="radio" id="rock" name="category" />
            <label for="genres">Rock</label>

            <input type="radio" class="radio" id="hiphop" name="category" />
            <label for="genres">Hip-Hop & Rap</label>

            <input type="radio" class="radio" id="country" name="category" />
            <label for="genres">Country</label>

            <input type="radio" class="radio" id="jazz" name="category" />
            <label for="genres">Jazz</label>

            <input type="radio" class="radio" id="heavy" name="category" />
            <label for="genres">Heavy Metal</label>

            <input type="radio" class="radio" id="edm" name="category" />
            <label for="genres">EDM</label>
          </div>
          <div class="genre2">
            <input type="radio" class="radio" id="soul" name="category" />
            <label for="genres">Soul</label>
            <input type="radio" class="radio" id="punk" name="category" />
            <label for="genres">Punk Rock</label>
            <input type="radio" class="radio" id="house" name="category" />
            <label for="genres">House</label>
            <input type="radio" class="radio" id="techno" name="category" />
            <label for="genres">Techno</label>
            <input
              type="radio"
              class="radio"
              id="psychedelic"
              name="category"
            />
            <label for="genres">Psychedelic</label>
            <input type="radio" class="radio" id="electronic" name="category" />
            <label for="genres">Electronic</label>
            <input type="radio" class="radio" id="rb" name="category" />
            <label for="genres">R&B</label>
          </div>
          <br />
          <!-- Musician Checklist -->
          <div class="musicians">
            <div class="group">
              <input type="checkbox" id="eddy" />
              <label for="musician1">Electric Eddy</label>
            </div>
            <div class="group">
              <input type="checkbox" id="brian" />
              <label for="musician1">Brian Bass</label>
            </div>
            <div class="group">
              <input type="checkbox" id="daniel" />
              <label for="musician1">Daniel Drums</label>
            </div>
            <div class="group">
              <input type="checkbox" id="aaron" />
              <label for="musician1">Aaron Amps</label>
            </div>
            <div class="group">
              <input type="checkbox" id="gary" />
              <label for="musician1">Gary Guitar</label>
            </div>
            <div class="group">
              <input type="checkbox" id="vincent" />
              <label for="musician1">Vincent Vocals</label>
            </div>
            <div class="group">
              <input type="checkbox" id="perry" />
              <label for="musician1">Perry Pianos</label>
            </div>
            <div class="group">
              <input type="checkbox" id="simon" />
              <label for="musician1">Simon Saxophone</label>
            </div>
            <div class="group">
              <input type="checkbox" id="harry" />
              <label for="musician1">Harry Highnotes</label>
            </div>
            <div class="group">
              <input type="checkbox" id="sam" />
              <label for="musician1">Sleepy Sam</label>
            </div>
            <div class="group">
              <input type="checkbox" id="tony" />
              <label for="musician1">Pretty Tony</label>
            </div>
            <div class="group">
              <input type="checkbox" id="scottie" />
              <label for="musician1">Screaming Scottie</label>
            </div>
            <div class="group">
              <input type="checkbox" id="harry" />
              <label for="musician1">Harry Headbanger</label>
            </div>
            <div class="group">
              <input type="checkbox" id="slim" />
              <label for="musician1">Slim Tunes</label>
            </div>
            <div class="group">
              <input type="checkbox" id="notes" />
              <label for="musician1">Dark Notes</label>
            </div>
            <div class="group">
              <input type="checkbox" id="bobby" />
              <label for="musician1">Bobby Loud</label>
            </div>
            <div class="group">
              <input type="checkbox" id="surfer" />
              <label for="musician1">Sammy Surfer</label>
            </div>
            <div class="group">
              <input type="checkbox" id="tommy" />
              <label for="musician1">Tommy Treble</label>
            </div>
            <div class="group">
              <input type="checkbox" id="wild" />
              <label for="musician1">Wild William</label>
            </div>
            <div class="group">
              <input type="checkbox" id="dancing" />
              <label for="musician1">Dancing Dave</label>
            </div>
            <div class="group">
              <input type="checkbox" id="flying" />
              <label for="musician1">Flying Freddy</label>
            </div>
            <div class="group">
              <input type="checkbox" id="ludacris" />
              <label for="musician1">Larry Ludacris</label>
            </div>
            <div class="group">
              <input type="checkbox" id="crazy" />
              <label for="musician1">Crazy Calvin</label>
            </div>
            <div class="group">
              <input type="checkbox" id="ned" />
              <label for="musician1">Nice Ned</label>
            </div>
          </div>

          <br />
          <!-- Submit Button -->
          <button class="form" type="submit">Create My Band</button>
        </form>
      </div>
    </body>
    <br />
    <br />
    <br />
    <!-- Footer -->
    <div class="rateus">
      <footer>
        Love Plugged In? &nbsp;
        <a
          href="https://github.com/woz-u/CodeOnTheCob-Group"
          target="_blank"
          rel="noopener"
        >
          Give us a star!
        </a>
        <a
          href="https://github.com/angular/angular"
          target="_blank"
          rel="noopener"
        >
        </a>
      </footer>
    </div>
  </body>
</html>
