<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Created a Band</title>
    <link rel="stylesheet" href="created-band.component.css" />
  </head>
  <body>
    <!-- Navbar -->
    <body>
      <nav>
        <div class="logo">
          <h4>Plugged In</h4>
        </div>
        <ul class="nav-links">
          <li><a href="home">Home</a></li>
          <li><a href="createband">Create A Band</a></li>
        </ul>
      </nav>
      <br />
      <br />
      <br />
      <!-- Band Name Input -->
      <div class="welcome">
        <h4>
          Hi! Welcome to Plugged In. Here you will create your band.
          <br />
          Please enter the name of your band, pick a genre, and at least five
          band members.
          <br />
          Once you click submit, you will be taken to your band’s page.
        </h4>
      </div>
      <br />
      <br />
      <div class="bandname"></div>
    </body>
    <br />
    <br />
    <br />
    <!-- Footer -->
    <div class="rateus">
      <footer>
        Love Plugged In? &nbsp;
        <a
          href="https://github.com/woz-u/CodeOnTheCob-Group"
          target="_blank"
          rel="noopener"
        >
          Give us a star!
        </a>
        <a
          href="https://github.com/angular/angular"
          target="_blank"
          rel="noopener"
        >
        </a>
      </footer>
    </div>
  </body>
</html>
