
<br><br>
<div id="login-form" class="fluid-container">
    <label>login:</label>
    <form action="/login">
        <label>username:</label>
        <input type="text" id="username" name="username"><br>
        <label>password:</label>
        <input type="text" id="password" name="password"><br>
        <button type="submit">submit</button><br>
    </form>
</div><br><br>

<div id="signup-form" class="fluid-container">
    <label>signup:</label>
    <form action="/signup">
        <label>username:</label>
        <input type="text" id="username" name="username"><br>
        <label>password:</label>
        <input type="text" id="password" name="password"><br>
        <button type="submit">submit</button><br>
    </form>

</div>