*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
  }
  
  .logo {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    color: #8cb61d;
    justify-content: space-around;
    text-transform: uppercase;
    width: 30%;
  }
  
  .nav-links li{
    list-style: none;
  }
  
  .nav-links a{
    color: #8cb61d;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
  }
  
  .bandname {
    color: black;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
  }
  
  .form {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
  }
  
  .rateus {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-around;
  }